*{
    margin: 50px;
    padding: 0;
}
#calculator{
    border: 1px solid rgba(102, 100, 100, 0.701);
    width: 250px;
    background-color: rgb(3, 22, 39);
    border-radius: 10px;
}
#display{
    border: 2px solid rgb(6, 32, 87);
    margin: 10px;
    width: 230px;
    font-size: 40px;
    border-radius: 10px;
    background-color: rgb(215, 237, 237);

}
.button-container{
    display: flex;
justify-content:space-evenly;
flex-wrap: wrap;
margin: 15px;

}
.button{
    width: 60px;
    height: 60px;
    margin: 3px;
    border-radius: 10px;
    font-size: large;
    border: 2px solid rgba(4, 4, 102, 0.105);
    background-color: rgba(190, 184, 215, 0.915);
}